 h1{
    color: rgb(102, 172, 75);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color:rgba(103, 172, 75, 0.822) ; 
}

#sectionsNav ul {
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

#sectionsNav ul li{
    display: inline-block;
}

#sectionsNav ul li {
    padding: 12px;
    text-decoration: none;
    color:rgb(102, 172, 75);
    font-weight: 300px;
    letter-spacing: 2px;
}